---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar';
import HeroSection from '../components/HeroSection';
import ProblemSolution from '../components/ProblemSolution';

import HowItWorks from '../components/HowItWorks';
import Testimonials from '../components/Testimonials';
import FoundersJourney from '../components/FoundersJourney';
import CTASection from '../components/CTASection';
import Supporters from '../components/Supporters';
import Footer from '../components/Footer';
---

<Layout title="PlayPhysio - Gamified Respiratory Therapy">
	<NavBar client:load />
	<main>
		<HeroSection client:load />
		<ProblemSolution client:load />
		<HowItWorks client:load />
		<Testimonials client:load />
		<FoundersJourney client:load />
		<CTASection client:load />
		<Supporters client:load />
	</main>
	<Footer client:load />
</Layout>
